{% extends "base.html" %}
    {% block content %}
    <h1 class="heading" >Big History Project</h1>
    <div class="buttons" >
      <a href="{% url 'big_hist_view' %}" class="btn" >Big History View</a>
      <a href="{% url 'show_syllabus_view' %}" class="btn" >Syllabus View</a>
    </div>
    {% endblock %}
