* { margin: 0; padding: 0; }

.g {
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}


.circles {
  position: relative;
  left: 200px;
}

.circle {
  border: #000 2px solid;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  text-align: center;
}

.circle .circle-title {
  position: relative;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 20px;
}

.circle-inner {
  margin-left: 50px;
}

.circle-2x {
  width: 300px;
  height: 300px;
  border-radius: 300px;
}

.circle-3x {
  width: 400px;
  height: 400px;
  border-radius: 400px;
}

.units {
  position: absolute;
  top: 0;
  left: 0;
}

.units a.unit {
  position: absolute;
  width: 45px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  background-color: #a6192e;
  color: #fff;
  padding: 10px;
}

.units a.unit:hover {
  color: #000;
}

.units a.unit1 {
  top: 50px;
  left: 100px;
}

.units a.unit2 {
  top: 100px;
  left: 100px;
}

.units a.unit3 {
  top: 150px;
  left: 100px;
}

.units a.unit4 {
  top: 200px;
  left: 100px;
}

.units a.unit5 {
  top: 250px;
  left: 100px;
}

.units a.unit6 {
  top: 50px;
  left: 650px;
}

.units a.unit7 {
  top: 100px;
  left: 650px;
}

.units a.unit8 {
  top: 150px;
  left: 650px;
}

.units a.unit9 {
  top: 200px;
  left: 650px;
}

.units a.unit10 {
  top: 250px;
  left: 650px;
}

.btn {
  text-decoration: none;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  text-transform: lowercase;
  color: #fff;
  border: #a6192e 2px solid;
  background-color: #a6192e;
}

.btn:hover {
  background: none;
  color: #a6192e;
}

.btn:first-child {
  margin-right: 48px;
}
