.unit1 {
  background-color: #888888;
  color: #888888;
}

.unit2 {
  background-color: #D3272A;
  color: #D3272A;
}

.unit3 {
  background-color: #D96627;
  color: #D96627;
}

.unit4 {
  background-color: #89B038;
  color: #89B038;
}

.unit5 {
  background-color: #209847;
  color: #209847;
}

.unit6 {
  background-color: #068DB9;
  color: #068DB9;
}

.unit7 {
  background-color: #5C5397;
  color: #5C5397;
}

.unit8 {
  background-color: #8C428C;
  color: #8C428C;
}

.unit9 {
  background-color: #BD3182;
  color: #BD3182;
}

.unit10 {
  background-color: #888888;
  color: #888888;
}
