.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 0px 0, 0px 0 0 , 0px 0 0 , 0 0px 0 ;
  font-size: 110%;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}
