* { margin: 0; padding: 0; }

body {
  background-color: #efede7;
}

.page {
  text-align: center;
}

.page .heading {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 300;
}

.page .buttons {
  margin-top: 48px;
}

.page .buttons .btn {
  text-decoration: none;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  text-transform: lowercase;
  color: #fff;
  border: #a6192e 2px solid;
  background-color: #a6192e;
}

.page .buttons .btn:hover {
  background: none;
  color: #a6192e;
}

.page .buttons .btn:first-child {
  margin-right: 48px;
}

#pageWrapper {
  margin:auto;
  width:900px;
}

#banner {
  margin: auto;
  position: relative;
  text-align: center;
  border-bottom: 2px white solid;
  height:150px;
  margin-bottom:25px;
}
#banner #logo{
    float:left;
}
