head{
	position:relative;
	display:block;
	height:50px;
}
body{
	background-color:#EFEDE7;
	font-family: Arial, Helvetica, sans-serif;
}

* { margin: 0; padding: 0; }

.top {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.top h1 {
  color: #a6192e;
  font-size: 48px;
}

table.larea {
  margin: 0 auto;
  width: 900px;
  margin-bottom: 30px;
}

.larea tr th {
  font-size: 28px;
  padding-bottom: 8px;
}

.larea tr:last-child th {
	padding-top: 8px;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 2.2em;
	font-family: 'Times New Roman';
}

.larea tr td.heading {
  padding: 4px 10px 10px;
  background-color: #a6192e;
  color: #fff;
  font-size: 24px;
  height: 40px;
	cursor:pointer;
  text-transform: capitalize;
	font-weight:bold;
}

.larea tr td.sub_heading {
  padding: 4px 10px;
  background-color: #373a36;
  color: #fff;
  font-size: 18px;
  height: 40px;
	font-weight:bold;
}

.larea tr td.desc {
  padding: 4px 10px;
  background-color: #ccc;
  font-size: 14px;
  line-height: 18px;
	font-weight:bold;
	padding-left: 12px;
}

.larea tr.ld td {
  border: #000 1px solid;
}

.larea tr td.desc textarea {
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: none;
  box-sizing: border-box;
}

.tick{
	width:20px;
	height:25px;
	font-size:2.1em;
	line-height:0px;
	text-align:center;
	color:#000;
	font-weight: bold;
}


#dropbox {
	display: inline-block;
	position: relative;
	min-width: 250px;
	margin-right:900px;
}

#dropbox-content{
	display: none;
	position: absolute;
	top:38px;
	left:0px;
	background-color: #EFEDE7;
	min-width: 228px;
	padding: 18px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-bottom:solid 1px;
	border-right:solid 1px;
	border-left:solid 1px;
	border-color:#373A36;
}
#dropbox-content ul{
		list-style:none;
		margin-top: -18px;
		margin-bottom: -16px;
		color:#A6192E;
}
#dropbox-content li{
		list-style:none;
		color:#A6192E;
		padding-top:5px;
}
/*#dropbox:hover #dropbox-content, #dropbox:focus #dropbox-content{
	display: block;
}*/
#dropbox .show{
	display:block;
}

/*#drop-box-text p{
	background-color: #373A36;
}*/

/*#dropbox:hover #dropbox-content li p{
	margin-top: -3px;
	background-color:#CCCCCC;
	color:#000;
	padding:8px;
	margin-left: -8px;
	width:100%;
}*/
#dropbox-content li p{
	margin-top: -3px;
	background-color:#CCCCCC;
	color:#000;
	padding:8px;
	margin-left: -8px;
	width:100%;
}
#dropbox-content a{
	color:#000;
}

#dropbox-content a:link {
    text-decoration: none;
}

#dropbox-content a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#drop-box-text{
	background-color:#A6192E;
	padding:10px;
	color:#fff;
	cursor: pointer;
}
.unselectable{
	pointer-events: none;
	/*user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;*/
}
#dropbox{
	color:#A6192E;
}
#dropbox-content p{
	text-align:left;
	margin-left:10px;
}
