{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" >
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,300" rel="stylesheet" type="text/css">
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js" ></script>
  <title>{% block title %}Big History{% endblock %}</title>
</head>

<body>
  {% block pageWrapper %}
  <div id="pageWrapper">
    <div id="banner">
    {% block banner %}
    <div id="logo">
      {% block logo %}
        <a href="{% url 'index' %}"><img src="{% static "images/MQ_Big_History_Horizontal_RGB.png" %}" alt="Home" width="50%" height"50%"></a>
      {% endblock %}
    </div>
    {% endblock %}
    </div>
    <div class="page">
        {% block content %}

        {% endblock %}
    </div>
    {% endblock %}
  </div>
</body>
</html>
