{% load staticfiles %}
<!doctype html>
<html lang="en" >
<head>
  <meta charset="utf-8" >
  <title>Editing {{ learning_area.area_name }}</title>
  <link rel="stylesheet" type="text/css" href="{% static "css/edit_grid_view.css" %}" >
</head>

<body>

  <div class="top" >
    <h1>Updating Year {{ learning_area.year }} Learning Area: {{ learning_area.area_name }}</h1>
  </div>

  <table class="larea" width="100%" cellpadding="5" cellspacing="0" >
    <thead>
      <tr>
        <th colspan="1" width="40%" >Learning Outcomes</th>
        <th colspan="10" >Big History (Units)</th>
      </tr>

      <tr class="units" >
        <th></th>
        <th class="unit1" >1</th>
        <th class="unit2" >2</th>
        <th class="unit3" >3</th>
        <th class="unit4" >4</th>
        <th class="unit5" >5</th>
        <th class="unit6" >6</th>
        <th class="unit7" >7</th>
        <th class="unit8" >8</th>
        <th class="unit9" >9</th>
        <th class="unit10" >10</th>
      </tr>
    </thead>

    <tbody>
      {% for heading in headings %}
      <tr>
        <td class="heading" id="heading{{ heading.id }}" >
          Heading: <input type="text" uid="{{ heading.id }}" name="heading" class="heading_inp inp" value="{{ heading.heading }}" >
          <a class="del" href="{% url 'delete_ciric_heading' learning_area.id heading.id %}" onclick="return confirm('Are you sure you want to delete this heading? It will delete all subheadings and points underneath it');" >X
          </a>
        </td>
      </tr>

      {% for sub_heading in heading.ciriclearningareasubheading_set.all %}
      <tr>
        <td class="sub_heading" id="subheading{{ sub_heading.id }}" >Sub Heading: <input type="text" uid="{{ sub_heading.id }}" name="sub_heading" class="subheading_inp inp" value="{{ sub_heading.heading }}" ><a class="del" href="{% url 'delete_ciric_subheading' learning_area.id sub_heading.id %}" onclick="return confirm('Are you sure you want to delete this subheading? It will delete all points underneath it and cannot be undone');" >X</a></td>
      </tr>

      {% for ciric_specific in sub_heading.ciricspecific_set.all %}
      <tr class="ld" >
        <td class="desc" id="point{{ ciric_specific.id }}" >
          Point:
          <textarea class="ciricdesc_inp inp" uid="{{ ciric_specific.id }}" >{{ ciric_specific.description }}</textarea>
          {% if sub_heading.heading != 'Concepts' and sub_heading.heading != 'Achievements' %}
          Code:
          <input class="ciriccode_inp inp" uid="{{ ciric_specific.id }}" name="code" value="{{ ciric_specific.code }}" >
          {% endif %}
          <a class="del" href="{% url 'delete_ciric_specific' learning_area.id ciric_specific.id %}" onclick="return confirm('Are you sure you want to delete this point? This cannot be undone');" >X</a>
        </td>

        {% for i in bh %}
        <td align="center" ><input type="checkbox" class="bh_checkbox" unit="{{ i }}" ciric_specific="{{ ciric_specific.id }}" {% if i in ciric_specific.big_history_units %}checked{% endif %}></td>
        {% endfor %}
      </tr>
      {% endfor %}
      <tr class="ld" >
        <td class="desc addp" colspan="11" >
          <form method="post" action="{% url 'add_point' learning_area.id sub_heading.id %}" >
            {% csrf_token %}
            <textarea onclick="this.value='';" name="desc" >Curriculum point description</textarea><br />
            <input type="text" name="code" value="Code" onclick="this.value='';" >
            <input type="submit" name="sub" value="Add Point" >
          </form>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td class="sub_heading addp" colspan="11" >
          <form method="post" action="{% url 'add_subheading' learning_area.id heading.id %}" >
            {% csrf_token %}
            <input type="text" name="sub_heading" value="Subheading" onclick="this.value='';" >
            <input type="submit" name="sub" value="Add Subheading" >
          </form>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td class="heading addp" colspan="11" >
          <form method="post" action="{% url 'add_heading' learning_area.id %}" >
            {% csrf_token %}
            <input type="text" name="heading" value="Heading" onclick="this.value='';" >
            <input type="submit" name="sub" value="Add Heading" >
          </form>
        </td>
      </tr>
    </tbody>
  </table>

  <script src="https://code.jquery.com/jquery-1.12.3.min.js" ></script>
  <script type="text/javascript" >

  $(document).ready(function() {
    $('.bh_checkbox').change(function() {
      // grab info for relationship
      var unit_id = $(this).attr('unit');
      var ciric_id = $(this).attr('ciric_specific');

      // create url
      var url = 'http://localhost:8000/bh_admin/ciric_specific/' + ciric_id + (($(this).is(':checked')) ? '/check/' : '/uncheck/') + unit_id;

      // make get request
      $.get(url, function(data) {
        console.log(data);
      });
    });

    $('.heading_inp').keyup(function() {
      // fields
      var heading = $(this).val();
      var id = $(this).attr('uid');

      // create url
      var url = 'http://localhost:8000/bh_admin/edit_learning_area/{{ learning_area.id }}/update_heading/' + id;

      // update field
      $.post(url, { heading: heading, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value }, function(response) {
        console.log(response);
      });
    });

    $('.subheading_inp').keyup(function() {
      // fields
      var heading = $(this).val();
      var id = $(this).attr('uid');

      // create url
      var url = 'http://localhost:8000/bh_admin/edit_learning_area/{{ learning_area.id }}/update_subheading/' + id;

      // update field
      $.post(url, { heading: heading, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value }, function(response) {
        console.log(response);
      });
    });

    $('.ciricdesc_inp').keyup(function() {
      // fields
      var point = $(this).val();
      var id = $(this).attr('uid');

      // create url
      var url = 'http://localhost:8000/bh_admin/edit_learning_area/{{ learning_area.id }}/update_point/' + id;

      // update field
      $.post(url, { point: point, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value }, function(response) {
        console.log(response);
      });
    });

    $('.ciriccode_inp').keyup(function() {
      // fields
      var code = $(this).val();
      var id = $(this).attr('uid');

      // create url
      var url = 'http://localhost:8000/bh_admin/edit_learning_area/{{ learning_area.id }}/update_point/' + id;

      // update field
      $.post(url, { code: code, csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value }, function(response) {
        console.log(response);
      });
    });
  });

  </script>
</body>
</html>
