{% extends "base.html" %}
{% load staticfiles%}

{% block title %}{{ learning_area.area_name }}{% endblock %}
  {% block content %}
{% block dropbox %}
<div id="dropbox">
  <div id="drop-box-text" onclick="dropDown()">
    <p class="unselectable">Select Learning Area</p>
  </div>
  <div id="dropbox-content" class="dropdown-content">
    <ul>
      {% for lA in learning_areas %}
      <a href="{% url 'show_grid_view' learning_area_id=lA.id %}"/>
      <li>
        <p>{{lA.area_name}} Year {{lA.year}}</p>
      </li>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
  <script type="text/javascript">
  function dropDown(){
    document.getElementById("dropbox-content").classList.toggle("show");
  }

  window.onclick = function(event) {
    if (!event.target.matches('#drop-box-text')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
        }
      }
    }
  }

  $(document).ready(function() {
    var lastThis;
    var hidden;
    $('.hidden_section').hide()
    $('.heading').click(function() {
      $('.hidden_section').stop().hide();
      if(lastThis != this){
        $(this).parent().nextUntil('.next').stop().show();
        $(this).parent().nextUntil('.next').children().stop().show();
        lastThis = this;
      }else{
        $(this).parent().nextUntil('.next').stop().hide();
        $(this).parent().nextUntil('.next').children().stop().hide();
        lastThis = undefined;
      }
    });
  });
  </script>
    <div class="top" >
      <h1>Learning Area: {{ learning_area.area_name }} Year {{learning_area.year}}(<a href="{% url 'download_grid_view' learning_area.id %}" target="_blank" >download pdf</a>)</h1>
    </div>

    <table class="larea" width="100%" cellpadding="5" cellspacing="0" >
      <thead>
        <tr>
          <th colspan="1" width="40%" >Learning Outcomes</th>
          <th colspan="10" >Big History (Units)</th>
        </tr>
        <tr class="units" >
          <th></th>
          <th class="unit1">1</th>
          <th class="unit2">2</th>
          <th class="unit3">3</th>
          <th class="unit4">4</th>
          <th class="unit5">5</th>
          <th class="unit6">6</th>
          <th class="unit8">8</th>
          <th class="unit7">7</th>
          <th class="unit9">9</th>
          <th class="unit10">10</th>
        </tr>
      </thead>

      <tbody>
        {% for heading in headings %}
        <tr class="next">
          <td class="heading" >{{ heading.heading }}{% if heading.heading.lower != 'concepts' and heading.heading.lower != 'achievements' %} ({{ heading.ciriclearningareasubheading_set.all|length }}){% else %}...{% endif %}</td>
        </tr>
        {% for sub_heading in heading.ciriclearningareasubheading_set.all %}
        {% if sub_heading.heading.lower != heading.heading.lower %}
        <tr class="hidden_section">
          <td class="sub_heading" >{{ sub_heading.heading }}</td>
        </tr>
        {% endif %}

        {% for ciric_specific in sub_heading.ciricspecific_set.all %}
        <tr class="ld hidden_section">
          <td class="desc" >
            {{ ciric_specific.description }}
            {% if sub_heading.heading.lower != 'concepts' and sub_heading.heading.lower != 'achievements' %}
              ({{ ciric_specific.code }})
            {% endif %}
          </td>

          {% for i in bh %}
          <td align="center" class="tick">
            <p>{% if i in ciric_specific.big_history_units %}✔{% endif %}</p>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
