{% extends "base.html" %}
{% load staticfiles%}
{% block content %}
<div id="graph">
<div id="option">
  <div id="result">

  </div>
  <input name="updateButton"
         type="button"
         value="Update"
         onclick="updateData()" />
</div>
  <script>
    // PAGE VARIABLES
    var cwidth = 50, // radius of donut
        margin = 10, // padding for svg element
        width = cwidth*10 + margin, // (donut radius * 2) * 5 donuts
        height = cwidth*10 + margin, // (donut radius * 2) * 5 donuts
        radius = cwidth *5; // donut radius * number of donuts

    //big history project color set
    var big_hist_color = d3.scale.ordinal()
      .range(["#888888", "#D3272A", "#D96627", "#89B038", "#209847", "#068DB9", "#5C5397","#8C428C","#BD3182","#888888"]);
    //d3 color category
    var area_color = d3.scale.category20();
    //set the size of the sections of the pie
    var pie = d3.layout.pie()
      .sort(null)
      .value(function(d) { return 1000; });
    //set the arc for the outer donut
    var arc = d3.svg.arc()
        .outerRadius(radius)
        .innerRadius(radius-cwidth);
    // dynamically change the year the the donuts link to
    if (localStorage.getItem("year") == null) { //if year unset in storage
      localStorage.setItem("year", 9);
    }
    document.getElementById("result").innerHTML = "Link to: Year " + localStorage.getItem("year"); // change text in window

    function updateData() { // on button press
      if (typeof(Storage) !== "undefined") {
        var tempYear = localStorage.getItem("year");
        if (tempYear == 9) {
          localStorage.setItem("year", 10);
        } else {
          localStorage.setItem("year", 9);
        }
        document.getElementById("result").innerHTML = "Link to: Year " + localStorage.getItem("year");
      } else {
          document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
      }
      location.reload();
    }
    //M generate SVG canvas
    //var div = d3.select("#graph").style("left", "50% -" + radius-50 + ";");
    var svg = d3.select("#graph").append("svg")
        .attr("width", width+150)
        .attr("height", height);

    // generate the big history units as a donut
    d3.csv("{% static "big_hist_data.csv" %}", type, function(error, data) {
      if (error) throw error;

      var svg = d3.select("svg").append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
      //declare a wrapper for clicking to next page
      var g = svg.selectAll(".arc")
          .data(pie(data))
        .enter().append("a")
          .attr("onclick", function(d) { return "javascript: window.location = '/big_history_view/bh_unit/" + d.data.title + "/"+ localStorage.getItem("year") +"';"})
          .append("g")
          .attr("class", "arc");
      //generate the donut
      g.append("path")
          .attr("d", arc) //inner/outer radius
          .style("fill", function(d) { return big_hist_color(d.data.title); }) //color
          .attr("stroke", "black"); //outline
      //append labels to the donut
      g.append("text")
          .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })//move to centre
          .attr("dy", ".35em")
          .text(function(d) { return d.data.title; });
    });
    // generate the curriculum units as donut graph
    d3.csv("{% static "syl_data.csv" %}", type, function(error, data) {
      if ( error) throw error;
      // change arc for next donut
      var arc = d3.svg.arc()
          .outerRadius(radius-cwidth)
          .innerRadius(radius-(cwidth*2));
      // append new canvas section
      var svg = d3.select("svg").append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

      var g = svg.selectAll(".arc")
          .data(pie(data))
        .enter().append("a")
          .append("g")
          .attr("class", "arc");
      if (localStorage.getItem("year") == 9 ) {
        g.attr("onclick", function(d) { return "javascript: window.location = '/grid_view/" + d.data.num_9 + "';"});
      } else {
        g.attr("onclick", function(d) { return "javascript: window.location = '/grid_view/" + d.data.num_10 + "';"});
      }

      g.append("path")
          .attr("d", arc)
          .style("fill", function(d) { return area_color(d.data.title); })
          .attr("stroke", "black");

      g.append("text")
          .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
          .attr("dy", ".35em")
          .text(function(d) { return d.data.title; });

      var CrossCirricA = svg.append("a")
      if (localStorage.getItem("year") == 9 ) {
        CrossCirricA.attr("onclick", function(d) { return "javascript: window.location = '/grid_view/" + 16 + "';"});
      } else {
        CrossCirricA.attr("onclick", function(d) { return "javascript: window.location = '/grid_view/" + 1 + "';"});
      }

      CrossCirricA.append("circle")
          .style("fill", function(d) { return area_color(4); })
          .style("stroke", "black")
          .attr("r", radius-(cwidth * 2));
      CrossCirricA.append("text")
          .attr("y", -cwidth * 2.2)
          .attr("text-anchor", "middle")
          .text("Cross Cirriculum");

      var GenCapA = svg.append("a")
      if (localStorage.getItem("year") == 9 ) {
        GenCapA.attr("onclick", function(d) { return "javascript: window.location = '/grid_view/" + 17 + "';"});
      } else {
        GenCapA.attr("onclick", function(d) { return "javascript: window.location = '/grid_view/" + 2 + "';"});
      }
      GenCapA.append("circle")
          .style("fill", function(d) { return area_color(5); })
          .style("stroke", "black")
          .attr("r", radius - (cwidth * 3));
      GenCapA.append("text")
          .attr("y", -(cwidth * 1.2))
          .attr("text-anchor", "middle")
          .text("General Capabilities");

      var bhA = svg.append("g")

      bhA.append("circle")
          .style("fill", "url(#bh_logo)")
          .attr("r", radius - (cwidth * 4));
      bhA.append("svg:image")
            .attr("xlink:href",  "{% static "images/big_history_project_logo.png" %}")
            .attr("x", function(d) { return -50;})
            .attr("y", function(d) { return -50;})
            .attr("height", 100)
            .attr("width", 100);
    });


    function type(d) {
      d.size = +d.size;
      return d;
    }
  </script>
</div>
{% endblock %}
