<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" >
    <title>{{ learning_area.area_name }} - Year {{ learning_area.year }}</title>
    <style type="text/css" >



    </style>
</head>

<body>

    <table class="larea" width="100%" cellpadding="5" cellspacing="0" border="1" >
      <thead>
        <tr>
          <th colspan="1" width="50%" >Learning Outcomes</th>
          <th colspan="10" >Big History (Units)</th>
        </tr>

        <tr class="units" >
          <th></th>
          <th class="unit1" >1</th>
          <th class="unit2" >2</th>
          <th class="unit3" >3</th>
          <th class="unit4" >4</th>
          <th class="unit5" >5</th>
          <th class="unit6" >6</th>
          <th class="unit7" >7</th>
          <th class="unit8" >8</th>
          <th class="unit9" >9</th>
          <th class="unit10" >10</th>
        </tr>
      </thead>

      <tbody>
        {% for heading in headings %}
        <tr>
          <td class="heading" id="heading{{ heading.id }}" colspan="11" >
            {{ heading.heading }}
          </td>
        </tr>

        {% for sub_heading in heading.ciriclearningareasubheading_set.all %}
        <tr>
          <td class="sub_heading" id="subheading{{ sub_heading.id }}" colspan="11" >
              {{ sub_heading.heading }}
          </td>
        </tr>

        {% for ciric_specific in sub_heading.ciricspecific_set.all %}
        <tr class="ld" >
          <td class="desc" id="point{{ ciric_specific.id }}" width="100%" >
            {{ ciric_specific.description }}
            {% if sub_heading.heading != 'Concepts' and sub_heading.heading != 'Achievements' %}
            ({{ ciric_specific.code }})
            {% endif %}
          </td>

          {% for i in bh %}
          <td align="center" >
              {% if i in ciric_specific.big_history_units %}&#10003;{% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>

</body>
</html>
