{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ bh_unit.unit_number }}{% endblock %}
{% block content %}
<div id="graph">
  <div id="option">
  </div>
</div>
<script>
  document.getElementById("option").innerHTML = "Viewing year " + localStorage.getItem("year"); // change text in window

  var data;

  var color = d3.scale.ordinal()
      .range(["#888888", "#D3272A", "#D96627", "#89B038", "#209847", "#068DB9", "#5C5397","#8C428C","#BD3182","#888888"])
      .domain(d3.range(1,11));

  var margin = 20,
      diameter = 650;

  var pack = d3.layout.pack()
      .padding(25)
      .size([diameter - margin, diameter - margin])
      .value(function(d) { return d.parent ? d.children ? 70 : 35 : 0; })//size is relative

  var svg = d3.select("#graph").append("svg")
      .attr("width", diameter)
      .attr("height", diameter)
    .append("g")
      .attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")"); //start in middle

  d3.json("big_history/{{ bh_unit.id }}/{{ year }}.json")
        .header("Content-Type", "application/json")
        .get(function(error, json) {
          data = json;
          rund3();
        });

    function rund3() {
    var focus = data,
        nodes = pack.nodes(data),
        view;

    var circle = svg.selectAll("circle")
        .data(nodes)
      .enter().append("circle")
        .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
        .style("fill", function(d) { return shadeColor1(color({{bh_unit.id}}), d.depth * 10); })
        .on("click", function(d) { return window.open('/grid_view/' + d.link, '_self'); });
    var text = svg.selectAll("text")
        .data(nodes)
      .enter().append("text")
        .attr("class", "label")
        .style("display", function(d) { return d.parent === focus ? "inline" : "none"; }) //if you have a parent who is the focus display label
        .text(function(d) { return d.parent ? d.children ? d.name : d.name : "node node--root"; })
        .style("font-size", function(d) { return Math.min( d.r, ( d.r - 8) / this.getComputedTextLength() * 30) + "px"; })
        .attr("dy", ".35em");

    var node = svg.selectAll("circle,text");

    d3.select("#graph")
        .style("background","#0")
        .attr("xlink:href", "/a")
        .on("click", function() { zoom(data); });

    zoomTo([data.x, data.y, data.r * 2 + margin]);

    function zoom(d) {
      var focus0 = focus; focus = d;

      var transition = d3.transition()
          .duration(d3.event.altKey ? 7500 : 750)
          .tween("zoom", function(d) {
            var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
            return function(t) { zoomTo(i(t)); };
          });

      transition.selectAll("text")
        .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
          .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
          .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
          .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
    }

    function zoomTo(v) {
      var k = diameter / v[2]; view = v;
      node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
      circle.attr("r", function(d) { return d.r * k; });
    }
  d3.select(self.frameElement).style("height", diameter + "px");

// so solution to make color ligter
// url: http://stackoverflow.com/questions/5560248/programmatically-lighten-or-darken-a-hex-color-or-rgb-and-blend-colors
function shadeColor1(color, percent) {  // deprecated. See below.
    var num = parseInt(color.slice(1),16), amt = Math.round(2.55 * percent), R = (num >> 16) + amt, G = (num >> 8 & 0x00FF) + amt, B = (num & 0x0000FF) + amt;
    return "#" + (0x1000000 + (R<255?R<1?0:R:255)*0x10000 + (G<255?G<1?0:G:255)*0x100 + (B<255?B<1?0:B:255)).toString(16).slice(1);
}
}

  </script>
  {% endblock %}
