* { margin: 0; padding: 0; }

body {
  background-color: #efede7;
  font-family: Helvetica, Arial, sans-serif;
}

.top {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.top h1 {
  color: #a6192e;
  font-size: 48px;
}

table.larea {
  margin: 0 auto;
  width: 900px;
  margin-bottom: 30px;
}

.larea tr th {
  font-size: 28px;
  padding-bottom: 5px;
}

.larea tr td {
  position: relative;
}

.larea tr:last-child th {
  color: #fff;
  width: 20px;
  height: 50px;
  font-family: Impact, sans-serif;
  font-size: 30px;
}

.larea tr td.heading {
  padding: 10px;
  background-color: #a6192e;
  color: #fff;
  font-size: 24px;
  height: 40px;
}

.larea tr td.heading input {
  font-size: 14px;
  border: none;
  padding: 4px;
  width: 73.5%;
}

.larea tr td.heading input[type=submit] {
  color: #fff;
  background-color: #000;
  width: 24.5%;
}

.larea tr td.sub_heading {
  padding: 10px;
  background-color: #373a36;
  color: #fff;
  font-size: 18px;
  height: 40px;
}

.larea tr td.sub_heading input {
  font-size: 14px;
  border: none;
  padding: 4px;
  width: 73.5%;
}

.larea tr td.sub_heading input[type=submit] {
  color: #fff;
  background-color: #ccc;
  width: 25%;
}

.larea tr td.desc {
  padding: 10px;
  background-color: #ccc;
  font-size: 14px;
  line-height: 18px;
}

.larea tr.ld td {
  border: #000 1px solid;
}

.larea tr td a.del {
  font-size: 10px;
  display: inline-block;
  width: 12px;
  height: 10px;
  text-decoration: none;
  padding: 2px;
  line-height: 11px;
  background-color: #000;
  text-align: center;
  border: #fff 1px solid;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 4px;
  right: 4px;
}

.larea tr td a.del:hover {
  color: #000;
  background-color: #fff;
}

.larea tr td.desc textarea {
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: none;
  box-sizing: border-box;
}

.larea tr td.desc input {
  font-size: 14px;
  padding: 4px;
  border: none;
  width: 73.5%;
}

.larea tr td.desc input[type=submit] {
  border: none;
  color: #fff;
  background-color: #a6192e;
  width: 25%;
}

.larea tr td input.inp {
  width: 100%;
  margin-top: 4px;
}

.larea tr td textarea.ciricdesc_inp {
  height: 60px;
}

.larea tr td:first-child {
  padding-right: 25px;
}

.larea tr td.addp {
  padding: 10px;
}

.unit1 {
  background-color: #888888;
  color: #888888;
}

.unit2 {
  background-color: #D3272A;
  color: #D3272A;
}

.unit3 {
  background-color: #D96627;
  color: #D96627;
}

.unit4 {
  background-color: #89B038;
  color: #89B038;
}

.unit5 {
  background-color: #209847;
  color: #209847;
}

.unit6 {
  background-color: #068DB9;
  color: #068DB9;
}

.unit7 {
  background-color: #5C5397;
  color: #5C5397;
}

.unit8 {
  background-color: #8C428C;
  color: #8C428C;
}

.unit9 {
  background-color: #BD3182;
  color: #BD3182;
}

.unit10 {
  background-color: #888888;
  color: #888888;
}
