.unit1 {
  background-color: #888888;
  color: #888888;
}

.unit2 {
  background-color: #D3272A;
  color: #D3272A;
}

.unit3 {
  background-color: #D96627;
  color: #D96627;
}

.unit4 {
  background-color: #89B038;
  color: #89B038;
}

.unit5 {
  background-color: #209847;
  color: #209847;
}

.unit6 {
  background-color: #068DB9;
  color: #068DB9;
}

.unit7 {
  background-color: #5C5397;
  color: #5C5397;
}

.unit8 {
  background-color: #8C428C;
  color: #8C428C;
}

.unit9 {
  background-color: #BD3182;
  color: #BD3182;
}

.unit10 {
  background-color: #888888;
  color: #888888;
}
* { margin: 0; padding: 0; }

html{

}

body {
  background-color: #efede7;
}

.page {
  text-align: center;
}

.page .heading {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 300;
}

.page .buttons {
  margin-top: 48px;
}

.page .buttons .btn {
  text-decoration: none;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 700;
  text-transform: lowercase;
  color: #fff;
  border: #a6192e 2px solid;
  background-color: #a6192e;
}

.page .buttons .btn:hover {
  background: none;
  color: #a6192e;
}

.page .buttons .btn:first-child {
  margin-right: 48px;
}

#pageWrapper {
  margin:auto;
  width:900px;
  background-color: #efede7;
  height: inherit;
  padding-left: 10px;
  padding-right:10px;
  margin-top: -50px;
}

#banner {
  margin: auto;
  position: relative;
  text-align: center;
  border-bottom: 2px white solid;
  height:150px;
  margin-bottom:25px;
  padding-top: 20px;
}
#banner #logo{
    float:left;
}
head{
	position:relative;
	display:block;
	height:50px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

* { margin: 0; padding: 0; }

.top {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.top h1 {
  color: #a6192e;
  font-size: 48px;
}

table.larea {
  margin: 0 auto;
  width: 900px;
  margin-bottom: 30px;
}

.larea tr th {
  font-size: 28px;
  padding-bottom: 8px;
}

.larea tr:last-child th {
	padding-top: 8px;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 2.2em;
	font-family: 'Times New Roman';
}

.larea tr td.heading {
  padding: 4px 10px 10px;
  background-color: #a6192e;
  color: #fff;
  font-size: 24px;
  height: 40px;
	cursor:pointer;
  text-transform: capitalize;
	font-weight:bold;
}

.larea tr td.sub_heading {
  padding: 4px 10px;
  background-color: #373a36;
  color: #fff;
  font-size: 18px;
  height: 40px;
	font-weight:bold;
}

.larea tr td.desc {
  padding: 4px 10px;
  background-color: #ccc;
  font-size: 14px;
  line-height: 18px;
	font-weight:bold;
	padding-left: 12px;
}

.larea tr.ld td {
  border: #000 1px solid;
}

.larea tr td.desc textarea {
  width: 100%;
  font-size: 14px;
  padding: 4px;
  border: none;
  box-sizing: border-box;
}

.tick{
	width:20px;
	height:25px;
	font-size:2.1em;
	line-height:0px;
	text-align:center;
	color:#000;
	font-weight: bold;
}


#dropbox {
	display: inline-block;
	position: relative;
	min-width: 250px;
	margin-right:900px;
}

#dropbox-content{
	display: none;
	position: absolute;
	top:38px;
	left:0px;
	background-color: #EFEDE7;
	min-width: 228px;
	padding: 18px 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-bottom:solid 1px;
	border-right:solid 1px;
	border-left:solid 1px;
	border-color:#373A36;
}
#dropbox-content ul{
		list-style:none;
		margin-top: -18px;
		margin-bottom: -16px;
		color:#A6192E;
}
#dropbox-content li{
		list-style:none;
		color:#A6192E;
		padding-top:5px;
}
#dropbox .show{
	display:block;
}
#dropbox-content li p{
	margin-top: -3px;
	background-color:#CCCCCC;
	color:#000;
	padding:8px;
	margin-left: -8px;
	width:100%;
}
#dropbox-content a{
	color:#000;
}

#dropbox-content a:link {
    text-decoration: none;
}

#dropbox-content a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

#drop-box-text{
	background-color:#A6192E;
	padding:10px;
	color:#fff;
	cursor: pointer;
}
.unselectable{
	pointer-events: none;
	/*user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;*/
}
#dropbox{
	color:#A6192E;
}
#dropbox-content p{
	text-align:left;
	margin-left:10px;
}
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 0px 0, 0px 0 0 , 0px 0 0 , 0 0px 0 ;
  font-size: 110%;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

#graph {
  position: relative;
  left: 0;
}
#option {
  position: absolute;
  top: 50%;
  right: 0;
}
input {
	background-color:#A6192E;
	padding:10px;
	color:#fff;
}
input:active {
	background-color:#373A36;
	padding:10px;
	color:#fff;
}
