{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BH Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>

    <div class="container" >
        <div class="row" >
            <div class="col-md-12" >
                <nav class="navbar navbar-default" >
                    <div class="container-fluid" >
                        <div class="navbar-header" >
                            <a class="navbar-brand" href="{% url 'index' %}" >
                                <img width="20" height="20" src="{% static 'images/brand.png' %}" alt="brand" />
                            </a>
                            <a class="navbar-brand" href="{% url 'index' %}" >BH Admin</a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-c" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-c" >
                            <ul class="nav navbar-nav" >
                                <li><a href="{% url 'index' %}" >> Return home</a></li>
                            </ul>

                            <a class="btn btn-success navbar-btn pull-right" href="{% url 'bh_admin_logout' %}" >Logout</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-12" >
                <p>
                    Welcome to the big history admin page. To get started managing the website please choose which year you would like to add information for and you can get started.
                </p>
            </div>
        </div>

        <div class="row" >
            <div class="col col-md-6" >
                <div class="panel panel-primary" >
                    <div class="panel-heading" >
                        <h3 class="panel-title" ><span class="glyphicon glyphicon-education" ></span> Manage Year 9</h3>
                    </div>

                    <div class="panel-body" >
                        <ul class="list-group" >
                        {% for learning_area in nine %}
                            <li class="list-group-item clearfix" >
                                {{ learning_area.area_name }}

                                <button type="button" class="pull-right btn btn-danger"  onclick="if(confirm('Are you sure you want to delete this learning area? It will remove all associated syllabus points and cannot be undone')) window.location='{% url 'delete_learning_area' learning_area.id %}'" >Delete  <span class="glyphicon glyphicon-trash" ></span></button>
                                <p class="pull-right" >&nbsp;</p>
                                <a href="{% url 'edit_learning_area' learning_area.id %}" class="pull-right btn btn-primary" >Edit  <span class="glyphicon glyphicon-pencil" ></span></a>
                            </li>
                        {% endfor %}
                            <li class="list-group-item clearfix" >
                                <form method="post" action="{% url 'add_learning_area' %}" class="form-inline" >
                                    {% csrf_token %}
                                    <input type="hidden" name="year" value="9" />

                                    <div class="form-group" >
                                        <label class="sr-only" for="new_area" >New Learning Area</label>
                                        <input type="text" id="new_area" class="form-control" name="new_area" placeholder="New Learning Area" />
                                    </div>

                                    <button type="submit" class="btn pull-right btn-success" >Add  <span class="glyphicon glyphicon-plus" ></span></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col col-md-6" >
                <div class="panel panel-success" >
                    <div class="panel-heading" >
                        <h3 class="panel-title" ><span class="glyphicon glyphicon-education" ></span> Manage Year 10</h3>
                    </div>

                    <div class="panel-body" >
                        <ul class="list-group" >
                        {% for learning_area in ten %}
                            <li class="list-group-item clearfix" >
                                {{ learning_area.area_name }}

                                <button type="button" class="pull-right btn btn-danger" onclick="if(confirm('Are you sure you want to delete this learning area? It will remove all associated syllabus points and cannot be undone')) window.location='{% url 'delete_learning_area' learning_area.id %}'" >Delete  <span class="glyphicon glyphicon-trash" ></span></button>
                                <p class="pull-right" >&nbsp;</p>
                                <a href="{% url 'edit_learning_area' learning_area.id %}" class="pull-right btn btn-primary" >Edit  <span class="glyphicon glyphicon-pencil" ></span></a>
                            </li>
                        {% endfor %}
                            <li class="list-group-item clearfix" >
                                <form method="post" action="{% url 'add_learning_area' %}" class="form-inline" >
                                    {% csrf_token %}
                                    <input type="hidden" name="year" value="10" />

                                    <div class="form-group" >
                                        <label class="sr-only" for="new_area" >New Learning Area</label>
                                        <input type="text" id="new_area" class="form-control" name="new_area" placeholder="New Learning Area" />
                                    </div>

                                    <button type="submit" class="btn pull-right btn-success" >Add  <span class="glyphicon glyphicon-plus" ></span></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
