{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/admin.css" %}" type="text/css" >
</head>

<body>

    <div class="container" >
        <form class="form-signin" method="post" action="" >
            <h1 class="form-signin-heading text-center" >BH Admin</h1>

            {% csrf_token %}

            <!--<div class="alert alert-danger alert-dismissable" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Error loggin in, please check your details and try again
            </div>-->

            <label for="username" class="sr-only" >Username</label>
                <input type="username" name="username" class="form-control" id="username" placeholder="Username" required autofocus>

            <label for="password" class="sr-only" >Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>